<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ParaBank Portfolio Suite">
    
    <listeners>
        <listener class-name="com.bank.utils.ReportingListener" />
    </listeners>

    <test name="UI and API Regression Tests">
        <classes>
            <class name="com.bank.tests.HybridTests"/>
            <class name="com.bank.tests.LoginTests"/>
            <class name="com.bank.tests.LoginApiTests"/>
            <class name="com.bank.tests.FinancialOperationsTests"/>
            <class name="com.bank.tests.SecurityStatusCodesTests"/>
        </classes>
    </test>

</suite>